<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414122554137-kocbq7ghnapins59s99qhtgo7stp1k22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414122554137-kocbq7ghnapins59s99qhtgo7stp1k22</string>
	<key>API_KEY</key>
	<string>AIzaSyC8wr0lp82W26e4z8RJy9WAwWHOtCu6iJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>414122554137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.furkanYildirim.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-fc30a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-fc30a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414122554137:ios:4c87ee36a25cfefae78b88</string>
</dict>
</plist>